# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# FastAPI / Uvicorn logs
*.log

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Local settings
instance/

# MacOS
.DS_Store

# OneDrive
~$*
