<div class="flex items-center justify-center bg-[#f2fffd] h-screen">
    <div class="rounded-xl w-120 min-h-80 shadow-[0_0px_30px_0px_rgba(61,166,147,0.4)] transition-all duration-300">

        <!-- Paso 1: ingresar correo -->
        <div *ngIf="!mostrarPasoCodigo" class="text-stone-900 px-12 py-14">
            <h1 class="font-semibold text-4xl mb-4">Código de verificación</h1>
            <p class="mb-10">Enviaremos un codigo de verificacion para comprobar tu cuenta.</p>
            <label for="email" class="font-semibold">Correo electrónico</label>
            <input id="email" type="text" [(ngModel)]="email" class="w-full h-12 mt-2 mb-2 pl-4 rounded-xl font-semibold shadow-[inset_0_4px_10px_rgba(61,166,147,0.5)] text-stone-800 bg-[#f5fffd] focus:ring-2 focus:ring-[#1f594f] outline-none">
            <div *ngIf="errorEmail" class="text-red-600 text-sm mb-4">{{ errorEmail }}</div>
            <button class="w-full h-12 mt-6 rounded-xl shadow-[0_0px_30px_0px_rgba(44,120,106,0.4)] bg-[#e0fff9] text-[#1f594f] font-semibold hover:scale-[1.025] transition-all duration-300 cursor-pointer" (click)="enviarCorreo()">Enviar</button>
        </div>

        <!-- Paso 2: ingresar codigo de verificacion -->
        <div *ngIf="mostrarPasoCodigo" class="text-stone-900 px-12 py-14">
            <h1 class="font-semibold text-4xl mb-4">Verificar código</h1>
            <p class="mb-10">Ingresa el codigo de verificacion que acabamos de enviar a tu correo electrónico.</p>
            <label for="codigo" class="font-semibold">Código de verificación</label>
            <input id="codigo" type="text" [(ngModel)]="codigo" class="w-full h-12 mt-2 mb-2 pl-4 rounded-xl font-semibold shadow-[inset_0_4px_10px_rgba(61,166,147,0.5)] text-stone-800 bg-[#f5fffd] focus:ring-2 focus:ring-[#1f594f] outline-none">
            <div *ngIf="errorCodigo" class="text-red-600 text-sm mb-4">{{ errorCodigo }}</div>
            <button class="w-full h-12 mt-6 rounded-xl shadow-[0_0px_30px_0px_rgba(44,120,106,0.4)] bg-[#e0fff9] text-[#1f594f] font-semibold hover:scale-[1.025] transition-all duration-300 cursor-pointer" (click)="verificarCodigo()">Verificar</button>
        </div>

    </div>
</div>
