<div class="flex items-center justify-center bg-[#f2fffd] h-screen">
    <div class="rounded-xl w-120 min-h-80 shadow-[0_0px_30px_0px_rgba(61,166,147,0.4)] transition-all duration-300">

        <!-- Formulario de nueva contraseña -->
        <div *ngIf="!passwordActualizada" class="text-stone-900 px-12 py-14">
            <h1 class="font-semibold text-4xl mb-4">Recuperar mi cuenta</h1>
            <p class="mb-6">Ingresa una nueva contraseña para recuperar tu cuenta.</p>

            <label for="password" class="font-semibold">Contraseña</label>
            <input id="password" type="password" [(ngModel)]="password" class="w-full h-12 mt-2 mb-2 pl-4 rounded-xl font-semibold shadow-[inset_0_4px_10px_rgba(61,166,147,0.5)] text-stone-800 bg-[#f5fffd] focus:ring-2 focus:ring-[#1f594f] outline-none">
            <div *ngIf="errorPassword" class="text-red-600 text-sm mb-2">{{ errorPassword }}</div>

            <label for="passwordconfirm" class="font-semibold">Confirmar contraseña</label>
            <input id="passwordconfirm" type="password" [(ngModel)]="passwordconfirm" class="w-full h-12 mt-2 mb-2 pl-4 rounded-xl font-semibold shadow-[inset_0_4px_10px_rgba(61,166,147,0.5)] text-stone-800 bg-[#f5fffd] focus:ring-2 focus:ring-[#1f594f] outline-none">
            <div *ngIf="errorPasswordConfirm" class="text-red-600 text-sm mb-6">{{ errorPasswordConfirm }}</div>

            <button class="w-full h-12 mt-6 rounded-xl shadow-[0_0px_30px_0px_rgba(44,120,106,0.4)] bg-[#e0fff9] text-[#1f594f] font-semibold hover:scale-[1.025] transition-all duration-300 cursor-pointer" (click)="changePassword()">Cambiar</button>
        </div>

        <!-- Mensaje de éxito -->
        <div *ngIf="passwordActualizada" class="flex flex-col items-center text-center text-stone-900 px-12 py-14">
            <h1 class="font-semibold text-3xl mb-4">¡Contraseña actualizada!</h1>
            <p class="mb-8">Tu contraseña se ha actualizado exitosamente. Ya puedes iniciar sesión con tu nueva contraseña.</p>

            <button
                (click)="regresarAlLogin()"
                class="w-full h-12 rounded-xl shadow-[0_0px_30px_0px_rgba(44,120,106,0.4)] bg-[#e0fff9] text-[#1f594f] font-semibold hover:scale-[1.025] transition-all duration-300 cursor-pointer">
                Regresar
            </button>
        </div>

    </div>
</div>