<div class="flex items-center justify-center bg-[#f2fffd] h-screen">
    <div class="rounded-xl w-120 shadow-[0_0px_30px_0px_rgba(61,166,147,0.4)] transition-all duration-300"
    [ngClass]="{ 'min-h-180': loginForm, 'min-h-200': !loginForm && !registerForm2, 'min-h-130': registerForm2 }">
        <div *ngIf="loginForm" class="text-stone-900 px-12 py-14">
            <h1 class="font-semibold text-4xl mb-10">Iniciar sesión</h1>
            <label for="email" class="font-semibold">Correo electronico</label>
            <div *ngIf="errorLoginEmail" class="text-red-600 text-sm">{{ errorLoginEmail }}</div>
            <input id="email" type="text" [(ngModel)]="l_email" class="w-full h-12 mt-2 mb-2 pl-4 rounded-xl font-semibold shadow-[inset_0_4px_10px_rgba(61,166,147,0.5)] text-stone-800 bg-[#f5fffd] focus:ring-2 focus:ring-[#1f594f] outline-none">
            <label for="password" class="font-semibold">Contraseña</label>
            <div *ngIf="errorLoginPassword" class="text-red-600 text-sm">{{ errorLoginPassword }}</div>
            <input id="password" type="password" [(ngModel)]="l_password" class="w-full h-12 mt-2 mb-4 pl-4 rounded-xl font-semibold shadow-[inset_0_4px_10px_rgba(61,166,147,0.5)] text-stone-800 bg-[#f5fffd] focus:ring-2 focus:ring-[#1f594f] outline-none">
            <p class="flex text-center mb-4 font-semibold cursor-pointer text-[#1f594f]" (click)="onSendCode()">Olvide mi contraseña</p>
            <div *ngIf="errorLoginGeneric" class="text-red-600 text-sm mb-4">{{ errorLoginGeneric }}</div>
            <button class="w-full h-12 mb-4 rounded-xl shadow-[0_0px_30px_0px_rgba(44,120,106,0.4)] bg-[#e0fff9] text-[#1f594f] font-semibold hover:scale-[1.025] transition-all duration-300 cursor-pointer" (click)="onLoginSuccess()">Iniciar sesión</button>
            <div class="flex mb-4 justify-center">O inicia sesion con</div>
            <button class="flex justify-center items-center w-full h-12 mb-4 rounded-xl shadow-[0_0px_30px_0px_rgba(44,120,106,0.4)] bg-[#e0fff9] text-[#1f594f] font-semibold hover:scale-[1.025] transition-all duration-300 cursor-pointer">Iniciar sesion con Google <div class="ml-3 w-6 h-6 bg-[url('/google.png')] bg-contain bg-center bg-no-repeat"></div></button>
            <button class="flex justify-center items-center w-full h-12 mb-4 rounded-xl shadow-[0_0px_30px_0px_rgba(44,120,106,0.4)] bg-[#e0fff9] text-[#1f594f] font-semibold hover:scale-[1.025] transition-all duration-300 cursor-pointer">Iniciar sesion con Facebook <div class="ml-3 w-6 h-6 bg-[url('/facebook.png')] bg-contain bg-center bg-no-repeat"></div></button>
            <button class="flex justify-center items-center w-full h-12 rounded-xl shadow-[0_0px_30px_0px_rgba(44,120,106,0.4)] bg-[#e0fff9] text-[#1f594f] font-semibold hover:scale-[1.025] transition-all duration-300 cursor-pointer">Iniciar sesion con Apple <div class="ml-3 w-6 h-6 mb-1 bg-[url('/apple.png')] bg-contain bg-center bg-no-repeat"></div></button>
            <div class="flex mt-6 justify-center">¿Aun no tienes una cuenta? <div class="ml-2 cursor-pointer text-[#1f594f]" (click)="switchForm()">¡Registrate!</div></div>
        </div>

        <div *ngIf="!loginForm && !registerForm2" class="text-stone-900 px-12 py-14">
            <h1 class="font-semibold text-4xl mb-10">Registrate</h1>
            <label for="email" class="font-semibold">Correo electronico</label>
            <div *ngIf="errorRegisterEmail" class="text-red-600 text-sm">{{ errorRegisterEmail }}</div>
            <input id="email" type="text" [(ngModel)]="r_email" class="w-full h-12 mt-2 mb-2 pl-4 rounded-xl font-semibold shadow-[inset_0_4px_10px_rgba(61,166,147,0.5)] text-stone-800 bg-[#f5fffd] focus:ring-2 focus:ring-[#1f594f] outline-none">
            <label for="password" class="font-semibold">Contraseña</label>
            <div *ngIf="errorRegisterPassword" class="text-red-600 text-sm">{{ errorRegisterPassword }}</div>
            <input id="password" type="password" [(ngModel)]="r_password" class="w-full h-12 mt-2 mb-2 pl-4 rounded-xl font-semibold shadow-[inset_0_4px_10px_rgba(61,166,147,0.5)] text-stone-800 bg-[#f5fffd] focus:ring-2 focus:ring-[#1f594f] outline-none">
            <label for="passwordconfirm" class="font-semibold">Confirmar contraseña</label>
            <div *ngIf="errorRegisterPasswordConfirm" class="text-red-600 text-sm">{{ errorRegisterPasswordConfirm }}</div>
            <input id="passwordconfirm" type="password" [(ngModel)]="r_passwordconfirm" class="w-full h-12 mt-2 mb-14 pl-4 rounded-xl font-semibold shadow-[inset_0_4px_10px_rgba(61,166,147,0.5)] text-stone-800 bg-[#f5fffd] focus:ring-2 focus:ring-[#1f594f] outline-none">
            <button class="w-full h-12 mb-4 rounded-xl shadow-[0_0px_30px_0px_rgba(44,120,106,0.4)] bg-[#e0fff9] text-[#1f594f] font-semibold hover:scale-[1.025] transition-all duration-300 cursor-pointer" 
            (click)="registerForm_on()">Registrarse</button>
            <div class="flex mb-4 justify-center">O registrate con</div>
            <button class="flex justify-center items-center w-full h-12 mb-4 rounded-xl shadow-[0_0px_30px_0px_rgba(44,120,106,0.4)] bg-[#e0fff9] text-[#1f594f] font-semibold hover:scale-[1.025] transition-all duration-300 cursor-pointer">Registrarme con Google <div class="ml-3 w-6 h-6 bg-[url('/google.png')] bg-contain bg-center bg-no-repeat"></div></button>
            <button class="flex justify-center items-center w-full h-12 mb-4 rounded-xl shadow-[0_0px_30px_0px_rgba(44,120,106,0.4)] bg-[#e0fff9] text-[#1f594f] font-semibold hover:scale-[1.025] transition-all duration-300 cursor-pointer">Registrarme con Facebook <div class="ml-3 w-6 h-6 bg-[url('/facebook.png')] bg-contain bg-center bg-no-repeat"></div></button>
            <button class="flex justify-center items-center w-full h-12 rounded-xl shadow-[0_0px_30px_0px_rgba(44,120,106,0.4)] bg-[#e0fff9] text-[#1f594f] font-semibold hover:scale-[1.025] transition-all duration-300 cursor-pointer">Registrarme con Apple <div class="ml-3 w-6 h-6 mb-1 bg-[url('/apple.png')] bg-contain bg-center bg-no-repeat"></div></button>
            <div class="flex mt-6 justify-center">¿Ya tienes una cuenta? <div class="ml-2 cursor-pointer text-[#1f594f]" (click)="switchForm()">¡Inicia sesión!</div></div>
        </div>
        
        <div *ngIf="registerForm2" class="text-stone-900 px-12 py-14">
            <h1 class="font-semibold text-4xl mb-10">Registrate</h1>
            <label for="bloodType" class="font-semibold">Tipo de sangre</label>
            <select id="bloodType" [(ngModel)]="r_bloodType" class="w-full h-12 mt-2 mb-2 pl-4 pr-4 rounded-xl font-semibold shadow-[inset_0_4px_10px_rgba(61,166,147,0.5)] text-stone-800 bg-[#f5fffd] focus:ring-2 focus:ring-[#1f594f] outline-none">
                <option value="" disabled selected>Selecciona tu tipo de sangre</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
            </select>
            <label for="phonenumber" class="font-semibold">Numero de telefono</label>
            <input id="phonenumber" type="password" [(ngModel)]="r_phonenumber" class="w-full h-12 mt-2 mb-14 pl-4 rounded-xl font-semibold shadow-[inset_0_4px_10px_rgba(61,166,147,0.5)] text-stone-800 bg-[#f5fffd] focus:ring-2 focus:ring-[#1f594f] outline-none">
            <button class="w-full h-12 mb-4 rounded-xl shadow-[0_0px_30px_0px_rgba(44,120,106,0.4)] bg-[#e0fff9] text-[#1f594f] font-semibold hover:scale-[1.025] transition-all duration-300 cursor-pointer" 
            (click)="registrarUsuarioCompleto()">Registrarse</button>
            <div class="flex mt-6 justify-center"><div class="ml-2 cursor-pointer text-[#1f594f]" (click)="switchForm()">Regresar</div></div>
        </div>
    </div>
</div>